* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --color1: rgba(86, 128, 233, 1);
    --color2: rgba(136, 96, 208, 0.95);
    --color3: rgba(90, 185, 234, 0.6);
    --glass-gradient-left-pane: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.45));
    --glass-gradient-right-pane: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.25));
    --drop-shadow: 0.25rem 0.45rem 0.5rem 0.1rem rgba(0, 0, 0, 0.20);
    --text-color: linear-gradient(to right bottom, var(--color1), var(--color2));
}

body {
    background: url("assets/background2.jpg");
    background-size: cover;
}

main {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0% 4% 0% 4%;
}

.left-pane {
    background: white;
    max-width: 10vw;
    max-height: 90vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: var(--glass-gradient-left-pane);
    border-radius: 2rem;   
    backdrop-filter: blur(5rem);
    box-shadow: var(--drop-shadow);
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 17rem;
}

h2{
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.8;
}

.link {
    display: flex;
    padding: 1rem 5rem;
    align-items: center;
  }
.link h2 {
    padding: 0rem 2rem;
}

.user {
    margin-top: 1rem;
}

.user img {
    max-width: 69%;
    border-radius: 50%;
    box-shadow: 3rem, 5rem, 5rem, var(--drop-shadow);
}

.right-pane {
    min-height: 90vh;
    max-height: 95vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: var(--glass-gradient-right-pane);
    border-radius: 2rem;
    backdrop-filter: blur(5rem);
    box-shadow: var(--drop-shadow);
}

.heading {
    max-height: 5rem;
    margin-left: 2.3%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    flex: 1;
    background: var(--text-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

.heading input {
    flex: 3;
    width: 55rem;
    height: 2.5rem;
    margin-left: 20rem;
    border-radius: 3rem;
    border: none;
    padding: 1%;
    opacity: 0.6;
    box-shadow: var(--drop-shadow);
}

.dashboard {
    margin-top: 10%;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.progressbar {
    margin-left: 3%;
    min-width: 18%;
    min-height: 18%;
    /* width: 100%; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

svg {
    position: absolute;
    stroke-width: 5%;
}
  
circle {
    fill: none;
    stroke: #191919;
    stroke-dasharray: 0;
}

.percentage {
    margin-left: 5%;
    margin-top: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
  
h4 {
    color: #777;
    font-weight: 700;
    font-size: 3rem;
    transition: 0.5s;
}

.system-info {
    min-height: 100%;
    min-width: 75%;
    margin-left: 10%;
}

ul .info {
    
}

li {
    list-style-type: none;
    padding: 0.5%;
    font-size: 1.4rem;
    font-weight: 350;
}

li span {
    font-weight: 600;
}

































/* .games {
    flex: 2;

.status {
    margin-bottom: 3rem;
}
  
.status input {
    background: var(--glass-gradient);
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}
  
.games {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
  
.card {
    display: flex;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
  }
  
  .progress {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
  }
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } 
*/

/* .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  } */