@import "../../../common_static/theme";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
    text-decoration: none;
}

body {
    background: url("assets/background2.jpg");
    background-size: cover;
}

main {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0% 4% 0% 4%;
}

.left-pane {
    background: white;
    min-width: 10vw;
    max-width: 10vw;
    min-height: 90vh;
    max-height: 95vh;
    padding: 1rem;
    @include glass(0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    .user {
    
        h3 {
            color: $text-color;
            font-size: 1.5rem;
            font-weight: 600;
            opacity: 0.6;
        }
    
        img {
            max-width: 69%;
            border-radius: 50%;
            box-shadow: 3rem, 5rem, 5rem, $drop-shadow;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        .link {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10%;
            padding-bottom: 10%;
            padding-right: 0%;
            padding-left: 0%;
            transition: ease 0.4s;
            opacity: 0.8;

            img {
                height: 40%;
                width: 40%;
            }
        
            h2 {
                padding-top: 5%;
                font-size: 100%;
            }

            &:hover {
                transform: translateY(-5%);
                opacity: 1;
            }
        }
    }
}


//right pane
.right-pane {
    min-height: 90vh;
    max-height: 95vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include glass(0.60);

    .heading {
        max-height: 5rem;
        margin-left: 2.3%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    
        input {
            flex: 3;
            width: 55rem;
            height: 2.5rem;
            margin-left: 20rem;
            border-radius: 3rem;
            border: none;
            padding: 1%;
            @include glass(0.4);
        }
    
        h1 {
            flex: 1;
            @include textClip;
            font-weight: 600;
            font-size: 3rem;
            opacity: 0.8;
        }    
    }

    .dashboard {
        min-width: 100%;
        min-height: 100%;
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 10%;
    }
}

